<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
		<title>不思議の国のアリス</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/index.js"></script>
		<!--<link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Almendra+Display'>-->
		<!--<link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Almendra:700italic,400italic'>-->
		<!--<link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Almendra:400,700'>-->
		<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Monoton'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
		<link rel="stylesheet" href="../styles/style.css">
		<!-- <link rel="stylesheet" href="reset.css"> -->
	</head>
	<body>
		<div id="loader-bg">
		  <div id="loader">
		    <img src="../assets/rabbitalice.png" width="198" height="123" alt="Now Loading..."/>
		    <p class="loading-text">Now Loading...</p>
		  </div>
		</div>
		<div id="wrap" class="bg">
  			ロード後に表示させたい内容
			<header class="header">
				<nav>
					<ul>
						<a href="https://hamutuna.github.io/alice/" target="_blank"><li>Home</li></a>
					</ul>
				</nav>
			<!--<img src="../assets/moonandcat.png" alt="top画">-->
				<img class="top" src="../assets/alice_white.png" alt="rabbitalice"/>
				<!--<img class="top" src="../assets/aliceusagi.png" alt="aliceusagi"/>-->

				<h1>Alice in Wonderland</h1>
				<!--<h1>不思議の国のアリス</h1>-->
			</header>

			<div class="wrapper">
				「不思議の国のアリス」を15分であらすじがわかるようにしました。
				<h2>CONTENT</h2>
				<h2><a href="https://hamutuna.github.io/alice/">TOP</a></h2>
				<!--<section class="s1">
					<h3>おねいさんと日向ぼっこ</h3>
					<img  class="s1-1"src="../assets/11P.jpg" alt="お姉さんと野原で遊ぶ"/>
				</section>-->

				<!--<section class="s2">
					<h3>うさぎを見つけ、追いかける</h3>
				</section>-->

				<!--<section class="s3">
					<h3>穴に落ちる</h3>
				</section>-->

				<section class="section">
					<!--<img  class="con1"src="../assets/O2_numa.png" alt="アリス大泣きする"/>-->
					<img  class="con1" src="../assets/o1.png" alt="アリス大泣きする"/>
					<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>
				</section>
				<section class="section">
					<img  class="con2" src="../assets/img02.png" alt="動物たちと押し競饅頭や徒競走をする"/>
					<!--<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>-->
				</section>
				<section class="section">
					<!--<img  class="con3"src="../assets/img03.png" alt="うさぎの家でアリスの体が大きくなる"/>-->
					<!--<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>-->
				</section>
				<section class="section">
					<img  class="con4" src="../assets/aomusi.png" alt="芋虫のおかげで体が元の大きさにもどる"/>
					<!--<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>-->
				</section>
				<section class="section">
					<img  class="con5" src="../assets/pig.png" alt="子豚の子守をする"/>
					<!--<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>-->
				</section>
				<section class="section">
					<img  class="con6" src="../assets/tea.png" alt="奇妙なお茶会に呼ばれる"/>
					<!--<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>-->
				</section>
				<section class="section">
					<img  class="con7" src="../assets/heitai.png" alt="庭師の相談に乗る"/>
					<p class="tex1">庭師は赤いバラを植えようとしたが誤って白いバラを植えてしまった。
						もう少しで女王が通るため、急いで赤いペンキでごまかしている</p>
				</section>
				<section class="section">
					<img  class="con6" src="../assets/kame.png" alt="うみがめもどきの話を聞く"/>
					<!--<p class="tex1">机にあった小瓶を飲んでしまい、</br>
						体が大きくなり、泣き出す。</br>そして部屋一面が湖になる。</p>-->
				</section>
				<section class="section">
					<img  class="con7" src="../assets/queen.png" alt="アリス女王に歯向かう"/>
					<p class="tex1">庭師が女王に首をちょん切られそうになり、アリスが女王にはむかう。</p>
				</section>
				<section class="section">
					<img  class="con6" src="../assets/card.png" alt="トランプに襲われる"/>
					<p>女王の命令により、トランプに襲われる。</p>

				</section>


			</div>

			<!--<section class="s16">
				<h3>アリス、野原に戻る</h3>
				<p>あそぶあそぶあそぶあそぶあそぶあそぶあそぶあそぶ</p>
				<img class="s1-1" src="../assets/11P.jpg" alt="野原行く"/>
			</section>-->

			<footer class="footer">
				<small>&copy; 2016 NatsumiTsunoda</small>
			</footer>
		</div><!--#wrap-->

	</body>
</html>
